@font-face {
    font-family: "Proxima Nova";
    src: url("./fonts/ProximaNovaBold.woff2") format("woff2"),
      url("./fonts/ProximaNovaBold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: "Proxima Nova";
    src: url("./fonts/ProximaNovaThin.woff2") format("woff2"),
      url("./fonts/ProximaNovaThin.woff") format("woff");
    font-weight: light;
    font-style: normal;
  }

  @font-face {
    font-family: "Proxima Nova";
    src: url("./fonts/ProximaNovaRegular.woff2") format("woff2"),
      url("./fonts/ProximaNovaRegular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

  ::placeholder {
    font-family: "Proxima Nova";
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Proxima Nova", sans-serif;
    text-decoration: none;
  }

  html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Proxima Nova", sans-serif;
    text-decoration: none;
  }